<ion-item>
  <ion-label>Price Filter</ion-label>
</ion-item>
<ion-item>
  <ion-range dualKnobs="true" min="1000" max="2000" step="100" snaps="true">
    <ion-label slot="start">-200</ion-label>
    <ion-label slot="end">200</ion-label>
  </ion-range>
</ion-item>


<ion-item>
  <ion-label>Hair Color</ion-label>
  <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss">
    <ion-select-option value="brown">Brown</ion-select-option>
    <ion-select-option value="blonde">Blonde</ion-select-option>
    <ion-select-option value="black">Black</ion-select-option>
    <ion-select-option value="red">Red</ion-select-option>
  </ion-select>
</ion-item>